html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    background-color: black;
}
#home{
    background-image: url(../img/accueil.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.full-space{
    min-height: 100vh;
}

#home-text{
    background: rgba(0,0,0,0.4);
    height: 100vh;
    z-index: 0;
    display: flex;
}
#home-text>div {
    padding: 40px 80px;
    background: rgba(0,0,0,0.2);
    border-radius: 15px;
    margin: auto;
    max-width: 600px;
    display: flex;
    flex-direction: column;
}
#home-text>div * {
    margin: auto;
    margin-bottom: 20px;
    color: white;
}
#wulkan{
   background-image: url(../img/wulkan.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -2;
    background-attachment: fixed;

}
#wulkan>div>div>h2{
    padding: 20px;
    color: white;
    text-align: center;
    margin-top: 0;
}

#wulkan-info{
    display: flex;
    flex-wrap: wrap;
 
}
#logo{
    height: 50%;
    margin: auto;
    display: flex;
}
#logo-image{
    width: 25%;
    max-height: 100%;
    margin: auto;
}
#wulkan-text{
    width: 75%;
    margin:auto;
}
#wulkan-text>p{
    padding: 10px;
    font-size: 23px;
    text-align: center;
    margin: 10px auto;
    line-height: 23px;
    color: white;
    font-weight: 500;
}
.filtre-noir{
    background: rgba(0,0,0,0.8);
    min-height: 100vh;
    padding-top: 35px;
}
.button {
    margin-top: 20px;
    color: white;
    padding: 12px 20px;
    border-radius: 4px;
    border: 1px solid white;
    cursor: pointer;
    font-size: 23px;
    text-decoration: none;
    transition: 0.3s;
    text-align: center;
}
.button:hover{
    color: black!important;
    background-color: white;
    border: 1px solid white;
    
}
#membres{
    background-color: black;
    position: relative;
}
#zone-membres{
    padding-top: 25px;
    width: 100%;
}
#zone-membres>h2{
    color: white;
    text-align: center;
}
#zone-membres>h3{
    color: white;
    text-align: center;
}
#membres{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.box-membre{
    flex: 50%;
    max-width: 80%;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
}
.box-membre>img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgb(0 0 0 / 50%);
}
.box-membre>p{
    color: white;
}
#spectacle{
    background-image: url(../img/spectacle.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -2;
    background-attachment: fixed;
}
h1{
    color: white;
    text-align: center;
}
#arkana{
  display: flex;
  justify-content: center;
  position: relative;
}
#arkana>img{
    width: 500px;
    max-width: 100%;
    height: auto;
}
form{
    width: 80%;
    margin: auto;
}
form> div{
    display: block;
}
form>label{
    color: white;
}
form>input, form>textarea{
    border: none;
    background: rgb(40,40,40);
    color: white;
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}
footer{
    text-align: center;
    background: #333333;
    box-shadow: 0 2px 4px rgb(0 0 0 / 50%);
    margin: 0;
    left: 50%;
    top: 50%;
    font: 14px/1.7 "Source Sans Pro", sans-serif;
}
footer>div>a{
    color: white;
    padding: 5px;
    text-decoration: none;
}
.reseaux {
    width: 35px;
    vertical-align: middle;
}
.legal {
    font: 14px/1.7 "Source Sans Pro", sans-serif;
    color: white;
    vertical-align: middle;
}
.agence{
    width: 70px;
    margin: 10px;
    vertical-align: middle;
}
nav{
    width: 100%;
    height: 100vh;
    background-color: #ed6d1a;
    color: white;
    text-align: center;
    transition: 0.4s;
    transform: translateX(-100%);
    position: fixed;
    z-index: 3;
}
nav>h1{
    font-size: 250%;
    margin-top: 0px;
}
nav a{
    color: white;
}
.menu{
    position: fixed;
    top: 0;
    padding: 4px;
    margin: 10px;
    cursor: pointer;
    z-index: 4;
    display: flex;
    align-items: center;
}
.menu:hover{
    transform: translate(0,10%);
    transition: 0.4s;
}
.menu>div>div{
    background: white;
    height: 6px;
    width: 30px;
    margin: 6px;
    border-radius: 6px;
}
.menu>h3{
    color: white;
}
.ouvert{
    transform: translateX(0);
}
a{
    text-decoration: none;
}
.container{
    margin: auto;
    color: white;
    background-image: url(../img/mentions.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -2;
    background-attachment: fixed;
    max-width: 95%;
    margin:auto;
}
.container h2{
    font-size: calc(1.305rem + .66vw);
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}
.container h3{
    font-size: calc(1.2825rem + .39vw);
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}
.container p{
    margin-top: 0;
    margin-bottom: 1rem;
    margin-left: 1em;
    font-size: 1.2rem;
}
.mentions{
    background: rgba(0,0,0,0.8);
}
.container a{
    color: white;
    font-weight: 1000;
}
.container>h3{
    text-align: center;
}
.container>p{
    margin: 25px;
}
.pc{
    color: white;
    position: absolute;
    width: 180px;
    height: 180px;
    top: 2%;
    left: 2%;
}
.hide-text{
    opacity: 0;
    color: white;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 500px;
    max-width: 100%;
    margin: auto;
    background: rgba(0, 0, 0, 0.6);
    transition: 0.2s;
}
.hide-text>div{
    text-align: center;
    font-size: 18px;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.hide-text:hover{
    opacity: 1;
}